@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<h1>Data from view</h1>


<h3>Task Title:</h3>@ViewData["Title"]
<h3>Task Description:</h3>@ViewData["Description"]
<h3>Task Status:</h3>@ViewData["Status"]

<h1>Data from view Bag</h1>

<h3>Task Title:</h3>@ViewBag.Task1
<h3>Task Description:</h3>@ViewBag.Description1
<h3>Task Status:</h3>@ViewBag.Status1



